# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on: [push, pull_request]

  # Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

jobs:
  SwiftLint:
  runs-on: ubuntu-latest
  steps:
  - uses: actions/checkout@v1
  - name: GitHub Action for SwiftLint
    uses: norio-nomura/action-swiftlint@3.2.1
